.map-container {
  .esri-ui {
    inset: 0 !important;
  }

  .esri-attribution {
    @apply text-blue-contrast bg-blue-a9 theme-bsk1:text-gray-1 theme-bsk1:bg-gray-12;
  }

  .esri-ui-inner-container .esri-component:not(.esri-popup) {
    box-shadow: none !important;
  }

  .esri-component {
    margin: 0 !important;
  }
}
