.map-container {
  .esri-ui {
    inset: 0 !important;
  }

  .esri-attribution {
    @apply bg-accent-a9 text-accent-contrast theme-bsk1:bg-gray-12 theme-bsk1:text-gray-1;
  }

  .esri-ui-inner-container .esri-component:not(.esri-popup) {
    box-shadow: none !important;
  }

  .esri-component {
    margin: 0 !important;
  }
}

:root {
  --calcite-color-brand: var(--color-accent-a8);
}
